.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.single-blog-card a{
  font-size: 18px;
  color: var(--color-777777);
  margin-bottom: 20px;
}
.single-blog-card h3{
  font-size: 24px;
  font-weight: 600;
  color: var(--color-lclclb);
}
.single-blog-card p{
  color: var(--color-777777);
  font-size: 14px;
}
/* Contact Page */
.contact-inner-wrapper{
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}
.contact-inner-wrapper> div {
  width: 48%;
}
.contact-title{
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}
.contact-inner-wrapper form .form-control{
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}
.contact-inner-wrapper ul{
  list-style: none;
}
.contact-inner-wrapper address, .contact-inner-wrapper a,.contact-inner-wrapper p{ 
  color: var(--color-777777);
}
/* Contact Page ends */

/* Compare Product Page*/
.compare-product-card{
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}
.compare-product-card .cross,
.wishlist-card .cross{
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
.compare-product-details h5.title,
.wishlist-card h5.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
.compare-product-details h6.price,
.wishlist-card h6.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}
.compare-product-card .product-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* Compare Product Page end here*/

/* auth card*/
.auth-card{
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}
.auth-card h3{
  font-size: 19px;
  font-weight: 500;
  color: var(--color-777777);
}

.auth-card .form-control{
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}
.auth-card a{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}
.signup {
  background-color: var(--color-febd69);
  color: var(--color-131921);
  border:  none;
}
.signup:hover {
  background-color: var(--color-131921);
  color: white;
}
/* auth card ends*/

/* Policy Pages */
.policy{
  background-color: white;
  padding: 30px;
}
/* Policy Pages ends*/

/* Main Product Page*/

.description-wrapper h4,
.reviews-wrapper h3{
  font-size: 26px;
  color: var(--color-1c1c1b);
  margin-bottom: 10px;
}
.description-wrapper p{
  font-size: 14px;
  color: var(--color-777777);
}

.reveiw-inner-wrapper{
  background-color: white;
  padding: 30px;
}
.reveiw-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.reveiw-head h4{
  font-size: 18px;
  color: var(--color-1c1c1b);
}
.reveiw-head p,
.reveiw-head a {
  font-size: 14px;
  color: var(--color-777777);
}
.review-form h4 {
  font-size: 16px;
  color: var(--color-777777);
}
.review-form{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review:not(:last-child){
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review p{
  font-size: 14px;
  color: var(--color-777777);
}
.main-product-image{
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.main-product-image > div {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-image img{
  width: 100% !important;
  height: 600px !important;
  object-fit: cover;
}
.other-product-images{
  background-color: white;
  padding: 20px;
}
.other-product-images > div{
  padding: 20px;
  width: 48%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-image .js-image-zoom_zoomed-image{
  left: 50px !important;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  z-index: 1000;
}
.main-product-details {
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px;
}
.border-bottom{
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-details h3.title{
  font-size: 16px;
  font-weight: 20px;
  color: var(--color-1c1c1b);
  margin-bottom: 10px;
}
.main-product-details p.price{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.main-product-details a.review-btn,
.t-review{
  color: var(--color-777777);
  font-size: 13px;
}
.product-healing{
  font-size: 14px;
  color: var(--color-1c1c1b);
  margin-bottom: 0px;
}
.product-data{
  font-size: 13px;
  columns: var(--color-777777);
  margin-bottom: 0px;
}
.main-product-details a{
  font-size: 14px;
  color: var(--color-777777);
}
/* Main Product Page*/

/* Cart Page*/
.cart-header, .cart-data {
  border-bottom: 1px solid #eaeaea;
}
.cart-header h4{
  font-size:  13px;
  color: var(--color-777777);
}
.cart-col-1{
  width: 40%;
}
.cart-col-1 p{
  color: var(--color-777777);
  font-size: 14px;
}
.cart-col-2{
  width: 10%;
}
.cart-col-3{
  width: 15%;
}
.cart-col-4{
  width: 15%;
}
.cart-data h5.price{
  font-size: 14px;
  color: var(--color-1c1c1b);
}
/* Cart Page ends here */

/* Shipping page*/
.total {
  font-size: 14px;
  color: var(--color-1c1c1b);
}
.total-price{
  font-size: 16px;
  color: var(--color-777777);
}

/* Shipping page ends here*/
